
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-sm-12 mb-xl-0">
        <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#bill-new" role="tab" aria-controls="preview" aria-selected="true">
                        <i class="ni ni-badge text-sm me-2"></i> New Bill
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#bill-all" role="tab" aria-controls="code" aria-selected="false">
                        <i class="ni ni-laptop text-sm me-2"></i> All Bills
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="billTabContent">
                <div class="tab-pane fade show active" id="bill-new" role="tabpanel" aria-labelledby="new-bill">
                    <div class="card">
                        <div class="card-body ">

                            <form>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="opt_product">Select Product <span onclick="OpenAddItemModal()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add New Item" data-container="body" data-animation="true"> <i class="fa-solid fa-circle-plus text-success cursor-pointer"></i></span> </label>
                                        <select class="form-control" id="opt_product" onchange="GetProductInfo(this)">
                                            <option>--Select Product--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="txt_perkgrate">Price/kg</label>
                                        <input type="number" class="form-control" id="txt_perkgrate">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="txt_quantity">Add Quantity</label>
                                        <input type="number" class="form-control" id="txt_quantity" step="any">
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label for="txt_totalamount">Total Price</label>
                                        <input type="number" class="form-control" id="txt_totalamount" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-primary mt-lg-4">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <div class="tab-pane fade" id="bill-all" role="tabpanel" aria-labelledby="all-bill">
                    <div class="card">
                        <div class="card-body ">
                            helloo
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="modal-add-item" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">New Product</h3>
                        @*<p class="mb-0">Add New Product</p>*@
                    </div>
                    <div class="card-body">
                        <form role="form">
                            <label>Product Name</label>
                            <div class="input-group mb-3">
                                <input type="text" id="txt_productname" class="form-control" placeholder="Enter Product Name" aria-label="product-name" aria-describedby="productname-addon">
                            </div>
                            <label>Price Per Quantity</label>
                            <div class="input-group mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-indian-rupee-sign"></i></span>
                                    <input type="number" id="txt_amountperkg" class="form-control" placeholder="Enter Price" aria-label="Amount Per Kg">
                                    <span class="input-group-text text-bolder">/Kg</span>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0" onclick="AddItem(this)">Add Item</button>
                            </div>
                        </form>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>

        $(document).ready(function () {
            BindItemDrp();
            $("#txt_perkgrate, #txt_quantity").on("input", calculateTotalAmount);
        })

        function OpenAddItemModal() {
            $("#modal-add-item").modal("show");
        }

        function BindItemDrp() {
            $("#opt_product").empty();
            let url = "@Url.RouteUrl("I-GetItemList", new {httproute=""})";
            $.get(url, function (result) {
                $("#opt_product").append($("<option value=''>--Select Product--</option>"))
                $.each(result, (idx, value) => {
                    $("#opt_product").append($("<option></option>").val(value.Value).html(value.Text))
                })
            })
        }

        function AddItem(btn) {
            let url = "@Url.RouteUrl("I-Add", new {httproute=""})";
            let data = {
                "ItemName": $("#txt_productname").val(),
                "AmountPerKg": $("#txt_amountperkg").val()
            }
            postData(url, data).then((response) => {
                debugger;
                if (response.Status) {
                    BindItemDrp();
                    $("#modal-add-item").modal("hide");
                } else {

                }
            }).catch((err) => {
                debugger;
            })
        }

        function GetProductInfo(drp) {
            $("#txt_perkgrate").val("");
            let productId = $(drp).val();
            let url = "@Url.RouteUrl("T-GetItemInfo", new {httproute="", itemId = "itemId" })";
            url = url.replace("itemId", productId);
            debugger;
            $.get(url, (result) => {
                debugger;
                $("#txt_perkgrate").val(result.AmountPerKg);
            })
        }

        function calculateTotalAmount() {
            var perkgrate = parseFloat($("#txt_perkgrate").val());
            var quantity = parseFloat($("#txt_quantity").val());
            var totalAmount = perkgrate * quantity;
            totalAmount = Math.ceil(totalAmount); // Round up to the higher value
            $("#txt_totalamount").val(totalAmount);
        }



    </script>
}




